@import url('https://rsms.me/inter/inter.css');
header { font-family:
    'Inter',
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
@supports (font-variation-settings: normal) {
  header { font-family:
      'Inter var',
      'Segoe UI',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
  }
}
html { font-family:
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
pre, code {
  font-family:
    'Consolas',
    'Ricty Diminished',
    Helvetica,
    Arial,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: 1.04rem;
  line-height: 1.45em;
}
.code-line {
  font-size: 1em;
  line-height: 1.5em;
}
.code-name {
  font-weight: bold;
  font-size: 1.05rem;
}
