{{ partial "header.html" . }}
{{ partial "search.html" . }}
<br>

<div class="content-wrapper">
  {{if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      <span class="postdate">{{ .Date.Format "2006/01/02" }}</span>
      <span class="recent-posts"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></span>
    </li>
    {{ else }}
    <p>None.</p>
    {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
