{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ if .Params.date }}<span class="date">Posted : {{ .Date.Format "2006/01/02" }}</span>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
    {{ with ($.Param $i) }}
    {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}&nbsp;&nbsp;</a><blank> {{ end }}
    {{ end }}
  {{ end }}
</p>
<hr>
</div>

{{ if .Params.toc }}
  {{ .TableOfContents }}
{{ end }}
<div class="content-wrapper">
  <main>
    {{ with .Content }}
      {{ . }}
    {{ else }}
      This content is empty.
    {{ end }}
  </main>
</div>
{{ partial "footer.html" . }}
