<footer>
  <nav>
    <ul>
      {{ $title := lower .Title }}
      {{ $section := lower .Section }}
      {{ range .Site.Menus.info }}
      {{ $name := lower .Name }}
      <li class="pull-home {{ if eq $name $title }}current{{ else if eq $section $name }}current{{ else if eq $title (pluralize $name) }}current{{ end }}">
        {{ if eq $name $title }}<span class="current-footer">{{ lower .Name }}</span>{{ else }}<a href="{{ .URL }}">{{ lower .Name }}</a>{{ end }}
      </li>
      {{end}}

      {{ range .Site.Menus.footlink }}
      {{ $name := lower .Name }}
      <li class="pull-link">
          <a href="{{ .URL }}">{{ partial "fontawesome.html" $name }}</a>
      </li>
      {{end}}
    </ul>
  </nav>
  <br>
  <div class="copyright">
    {{ $pubyear := now.Format "2006" }}
    {{ .Site.Params.copyright }}
    {{ .Site.Params.inityear }}{{ if ne $pubyear .Site.Params.inityear }}-{{ $pubyear }}{{ end }}
    {{ .Site.Params.author }}
  </div>
</footer>
