    <footer>
      {{ partial "foot_custom.html" . }}
      <hr/>
      {{ $pubyear := now.Format "2006" }}
      {{ .Site.Params.copyright }}
      {{ if eq $pubyear .Site.Params.inityear }}{{ .Site.Params.inityear }}{{ else }}{{ .Site.Params.inityear }}-{{ $pubyear }}{{ end }}
      {{ .Site.Params.author }}
    </footer>
    <br>
    {{ if and .Site.Params.fathomAnalytics .Site.Params.fathomAnalytics.siteID }}
      {{- partial "analytics/fathom" . -}}
    {{ end }}
    <!-- <script src="/js/codeblock&#45;to&#45;line.js"></script> -->
    <script src="/js/codeblock-filename.js"></script>
    {{ partial "mathjax.html" . }}
  </body>
</html>
