<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/images/favicon-128x128.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}">

    <meta property="og:type" content="{{ if .IsHome }}blog{{ else }}article{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}images/profile.png">
    <meta property="og:title" content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}">
    <meta property="og:site_name" content="{{ $.Site.Title }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ .Site.Params.author }}">
    <meta name="twitter:creator" content="@{{ .Site.Params.author }}">

    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}">
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    <!-- Prism.js -->
    <link href="/css/prism.css" rel="stylesheet">

    <!-- Lightbox2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" rel="stylesheet">

    {{ partial "head_custom.html" . }}
  </head>
  <body>
    <br/>
