<header>
  <nav>
    <ul>
      {{ $title := lower .Title }}
      {{ $section := lower .Section }}
      <li class="pull-left {{ if .IsHome }}current{{ end }}">
        {{ if .IsHome }}<span class="current-header">home</span>{{ else }}<a href="{{ .Site.BaseURL }}">home</a>{{ end }}
      </li>
      {{ range .Site.Menus.main }}
      {{ $name := lower .Name }}
      <li class="pull-left {{ if eq $name $title }}current{{ else if eq $section $name }}current{{ else if eq $title (pluralize $name) }}current{{ end }}">
        {{ if eq $name $title }}<span class="current-header">{{ lower .Name }}</span>{{ else }}<a href="{{ .URL }}">{{ lower .Name }}</a>{{ end }}
      </li>
      {{end}}

      {{ range .Site.Menus.feed }}
      {{ $name := lower .Name }}
      <li class="pull-right">
        <a href="{{ .URL }}">{{ partial "fontawesome.html" "rss" }}</a>
      </li>
      {{end}}

      {{ range .Site.Menus.link }}
      {{ $name := lower .Name }}
      <li class="pull-link">
          <a href="{{ .URL }}">{{ partial "fontawesome.html" $name }}</a>
      </li>
      {{end}}
    </ul>
  </nav>
</header>
