{{- if or (.PrevInSection) (.NextInSection) -}}
{{- if ne .Params.pagelink false -}}
  <div class="page-links">
    {{- with .Parent.Pages.Prev . -}}
      <span class="arrow-left">{{ partial "fontawesome.html" "arrow-circle-left" }}</span>
      <span class="prev-link"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
    {{- end -}}
    {{- with .Parent.Pages.Next . -}}
      <span class="arrow-right">{{ partial "fontawesome.html" "arrow-circle-right" }}</span>
      <span class="next-link"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
    {{- end -}}</div>
<br>
{{- end -}}
{{- end -}}
